@import "src/styles/mixins";

.game-footer {
	height: 100%;
	border-top: 1px solid black;
	display: grid;
	grid-template-rows: 1fr 25px;
	grid-template-columns: 1fr;
	.desc-wrap {
		display: grid;
		grid-template-columns: 130px 1fr 1fr 1fr;
		align-items: center;
		background: radial-gradient(circle, #131313, #282d23);
		position: relative;
		.info-block {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.desc-block {
				margin-left: 20px;
				width: 100px;
				@include flexPosition(space-between, center)
			}
		}
		.btn-prev-wrap,
		.btn-next-wrap {
			width: 100%;
			svg {
				transition: all 0.5s ease-in-out;
				&:hover {
					transform: scale(1.1, 1.1);
				}
			}
		}
		.btn-prev-wrap {
			@include flexPosition(flex-end, center);
		}
		.btn-next-wrap {
			@include flexPosition(flex-start, center);
		}
		.chips-container {
			@include flexPosition();
			.chip-block {
				position: relative;
				&:hover .chip{
					border: 2px solid white;
				}
				&:last-child {
					margin-right: 5px;
				}
				.chip-title {
					position: absolute;
					top: 20%;
					left: calc(50% - 11px);
					width: 26px;
					text-align: center;
				}
				.chip {
					margin-left: 5px;
					border-radius: 50%;
				}
			}
			.active {
				border: 2px solid white;
			}
		}
	}
	.result-wrap{
		background: #131313;
		@include flexPosition();
		border-top: 2px solid rgba(0, 0, 0, 0.15);
		.result-block {
			width: 80px;
			height: 100%;
			margin-right: 20px;
			@include flexPosition(space-between, center)
		}
	}
}
