@import "src/styles/mixins";

.btn-prev-wrap,
.btn-next-wrap {
	width: 100%;
	.btn-prev,
	.btn-next {
		@include flexPosition();
		padding: 0;
		width: 30px;
		height: 30px;
		background: none;
		border: none;
		border-radius: 50px;
		&:hover {
			border: 2px solid white;
		}
	}
}
.btn-prev-wrap {
	@include flexPosition(flex-end, center);
}
.btn-next-wrap {
	@include flexPosition(flex-start, center);
}
.chips-container {
	@include flexPosition();
	.chip-block {
		@include flexPosition();
		padding: 0;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		background: none;
		border: none;
		position: relative;
		margin-left: 3px;
		animation: translatingChip 500ms ease-in-out 1;
		&:hover .chip:not(.active) {
			border: 2px solid white;
			animation: turnChip 1000ms ease-in-out 1 ;
		}
		&:last-child {
			margin-right: 3px;
		}
		.chip-title {
			@include flexPosition();
			width: 43px;
			height: 42px;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
			color: white;
		}
		.chip {
			border-radius: 50%;
		}
		@keyframes turnChip {
			0%   { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}
		@keyframes translatingChip {
			0%   { transform: scale(0); }
			100% { transform: scale(1); }
		}
	}
	.active {
		border: 2px solid white;
		box-shadow: 0 4px 30px rgba(255, 255, 255, 0.7);
	}
}
