@import "src/styles/mixins";

.btn-prev-wrap,
.btn-next-wrap {
	width: 100%;
	.btn-prev,
	.btn-next {
		@include flexPosition();
		padding: 0;
		width: 30px;
		height: 30px;
		background: none;
		border: none;
		border-radius: 50px;
		&:hover {
			border: 2px solid white;
		}
	}
}
.btn-prev-wrap {
	@include flexPosition(flex-end, center);
}
.btn-next-wrap {
	@include flexPosition(flex-start, center);
}
.chips-container {
	@include flexPosition();
	.chip-block {
		@include flexPosition();
		padding: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: none;
		border: none;
		position: relative;
		margin-left: 5px;
		&:hover .chip {
			border: 2px solid white;
			animation: turn 2000ms ease-in-out 1 ;
		}
		&:last-child {
			margin-right: 5px;
		}
		.chip-title {
			@include flexPosition();
			width: 40px;
			height: 40px;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
			color: white;
		}
		.chip {
			border-radius: 50%;
		}
		@keyframes turn {
			0%   { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}
	}
	.active {
		border: 2px solid white;
		box-shadow: 0 4px 30px rgba(255, 255, 255, 0.7);
	}
}
