@import "src/styles/mixins";

.game-body {
	@include flexPosition();
	height: 100%;
	background: radial-gradient(ellipse, #519d45 30%, #1a4622);
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: 1fr;
	.dealer-block,
	.user-block,
	.bank-block {
		@include flexPosition();
		height: 100%;
		border: 1px solid black;
	}
	
	.dealer-block {
		.dealer-count {
			width: 45px;
			height: 25px;
			background: black;
			margin-right: 20px;
		}
		.dealer-card-wrap {
			@include flexPosition();
			.dealer-card {
				width: 65px;
				height: 80px;
				border: 1px solid black;
				border-radius: 4px;
				margin-right: 5px;
			}
		}
	}
	.user-block {
		flex-direction: column;
		.deal-wrap {
		}
		.user-count {
			width: 45px;
			height: 25px;
			background: black;
		}
		.user-card-wrap {
			@include flexPosition();
			.user-card {
				width: 75px;
				height: 100px;
				border: 1px solid black;
				border-radius: 4px;
				margin-right: 5px;
			}
		}
	}
	.bank-block {
		flex-direction: column;
		.bank-count {
			width: 45px;
			height: 20px;
			background: rgba(0,0,0, 0.30);
			text-align: center;
		}
	}
}
