@import "src/styles/mixins";

.user-block {
	@include flexPosition();
	height: 100%;
	border: 1px solid black;
	flex-direction: column;
	.dealStatus-wrap {
		.btn-deal {
			@include flexPosition();
			background: none;
			width: 82px;
			height: 82px;
			border: none;
			border-radius: 50%;
			&:disabled {
				cursor: not-allowed;
			}
		}
	}
	.user-count {
		width: 45px;
		height: 25px;
		background: black;
		text-align: center;
	}
	.user-card-wrap {
		@include flexPosition();
		.user-card {
			width: 76px;
			height: 114px;
			border: 1px solid black;
			border-radius: 4px;
			margin-right: 5px;
		}
	}
}

