@import "src/styles/mixins";

.user-block {
	@include flexPosition();
	height: 100%;
	flex-direction: column;
	.dealStatus-wrap {
		.btn-deal {
			@include flexPosition();
			background: none;
			width: 82px;
			height: 82px;
			border: none;
			border-radius: 50%;
			&:not([disabled]):hover {
				box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
			}
		}
	}
	.cards-action-subtitle {
		background: rgba(13, 14, 15, 0.7);
		width: 50px;
		position: absolute;
		text-align: center;
		border-radius: 5px;
		color: #f17a25;
	}
	
}

