@import "src/styles/mixins";

.bet-block {
	@include flexPosition();
	height: 100%;
	border: 1px solid black;
	flex-direction: column;
	.btn-container {
		@include flexPosition();
		.btn-decrease,
		.btn-increase {
			@include flexPosition();
			width: 30px;
			height: 30px;
			border: none;
			background: none;
			padding: 0;
			border-radius: 50%;
			&:hover {
				border: 1px solid white;
				box-shadow: 0 4px 30px rgba(255, 255, 255, 0.7);
			}
		}
		.btn-bet {
			@include flexPosition();
			width: 60px;
			height: 60px;
			border-radius: 50%;
			border: 3px solid white;
			background: none;
			margin: 0 7px;
			padding: 0;
			position: relative;
			&:disabled {
				cursor: not-allowed;
				box-shadow: 0 4px 30px rgba(66, 135, 245, 0.7);
				border: 3px solid #4287f5;
			}
			&:not([disabled]):hover {
				box-shadow: 0 4px 30px rgba(255, 255, 255, 0.7);
			}
			.chip-title {
				@include flexPosition();
				width: 52px;
				height: 52px;
				border-radius: 50%;
				position: absolute;
				top: 0;
				left: 0;
				color: white;
				font-size: 17px;
			}
			.chip {
				border-radius: 50%;
			}
		}
	}
}
