@import "src/styles/mixins";

.user-count {
	width: 45px;
	height: 25px;
	background: rgba(13, 14, 15, 0.7);
	text-align: center;
	margin-bottom: 5px;
	border-radius: 5px;
	animation: translatingCount 3000ms ease-in-out 1;
}
.user-card-wrap {
	min-width: 156px;
	@include flexPosition(flex-start, center);
	svg {
		margin: 0 1px;
		animation: translatingCard 1000ms ease-in-out 1;
	}
	@keyframes translatingCard {
		0%   { transform: translateY(50px) scale(0) rotate(0deg); }
		100% { transform: translateY(0) scale(1) rotate(360deg); }
	}
	@keyframes translatingCount {
		0%   { transform: scale(0); }
		90%   { transform: scale(0); }
		100% { transform: scale(1); }
	}
}
