@import "src/styles/mixins";

.user-count {
	width: 45px;
	height: 25px;
	background: rgba(13, 14, 15, 0.7);
	text-align: center;
	margin-bottom: 5px;
	border-radius: 5px;
}
.user-card-wrap {
	@include flexPosition();
	svg {
		margin: 0 1px;
	}
}
