@import "src/styles/mixins";

.options-wrap {
	@include flexPosition(flex-start, center);
	width: 100px;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 5px;
	.btn-desc {
		@include flexPosition();
		width: 22px;
		height: 22px;
		border: none;
		border-radius: 50%;
		background: none;
		padding: 0;
		&:hover {
			border: 1px solid white;
		}
	}
}
