@import "src/styles/mixins";

.options-wrap {
	@include flexPosition(flex-start, center);
	width: 100px;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 5px;
	.btn-desc {
		width: 20px;
		height: 20px;
		border: none;
		border-radius: 50%;
		background: none;
	}
}
