@import "src/styles/mixins";

.cards-action-wrap {
	@include flexPosition();
	width: 120px;
	position: absolute;
	top: -25px;
	left: calc(50% - 60px);
	.action-wrap {
		@include flexPosition(space-between, center);
		width: 100%;
		.btn-stop-card,
		.btn-add-card {
			width: 54px;
			height: 44px;
			padding: 0;
			margin: 0;
			border: none;
			background: none;
			transition: 500ms ease-in-out;
			animation: translating 3000ms ease-in-out 1 ;
			&:not([disabled]):hover {
				transform: scale(1.2)
			}
		}
		@keyframes translating {
			0%   { transform: translateY(50px) scale(0); }
			100% { transform: translateY(0) scale(1); }
		}
	}
	.btn-new-game {
		width: 34px;
		height: 44px;
		padding: 0;
		margin: 0;
		border: none;
		background: none;
		transition: 500ms ease-in-out;
		animation: translating 2000ms ease-in-out 1 ;
		&:hover {
			transform: scale(1.2)
		}
	}
	
}
